BASE_URL=https://test.erpnext.am
API_KEY=
API_SECRET=

USER_ORDER_ACCEPTING=
PASS_ORDER_ACCEPTING=
USER_ORDER_CREATING=
PASS_ORDER_CREATING=
USER_INVENTORY=
PASS_INVENTORY=
USER_DELIVERY=
PASS_DELIVERY=
USER_RETURNS=
PASS_RETURNS=
USER_ACCOUNTING=
PASS_ACCOUNTING=
USER_FINANCE=
PASS_FINANCE=
USER_DIRECTORS=
PASS_DIRECTORS=
